<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <div class="box">
    <form autocomplete="off" action="adminlogin">
      <h2>Sign Up</h2>
      <div class="inputBox">
        <input type="text" required="required">
        <span>Full Name</span>
        <i></i>
      </div>
      <div class="inputBox">
        <input type="text" required="required">
        <span>Email Address</span>
        <i></i>
      </div>
      <div class="inputBox">
        <input type="text" required="required">
        <span>Passport Number</span>
        <i></i>
      </div>
      <div class="inputBox">
        <input type="text" required="required">
        <span>Username</span>
        <i></i>
      </div>
      <div class="inputBox">
        <input type="password" required="required">
        <span>Password</span>
        <i></i>
      </div>
      <div class="links">
      </div>
      <input id="sbutton" type="submit"style="cursor: pointer;" value="Sign Up">
    </form>
  </div>


</body>
</html>
