<!-- all flights -->



  <div id="newflight"
    style="width:80%; height: 90%; margin-left: 6rem; position:absolute; top:5.9rem; left:1.9rem;">
    <div>
      <h1>My Flight Schedule</h1> 
    </div>
    <table id="tbl" class="table table-bordered table-sm mt-1" style="background-color: rgba(255, 255, 255, 0.754);">
      <thead>
        <tr class="container" style="background-color: rgba(0, 0, 0, 0.792); color: white;">
          <th scope="col"> Flight ID Number </th>
          <th scope="col"> Flight Name </th>
          <th scope="col"> Number of Seats </th>
          <th scope="col"> Manufacture Place </th>
          <th scope="col"> Usage (In Years) </th>
          <th scope="col"> Additional Details </th>
        </tr>
        <tr>
          <td>1234567</td>
          <td>Air India</td>
          <td>700</td>
          <td>Bharat</td>
          <td>5 Years</td>
          <td>Mera Bharat Mahan</td>
        </tr>
        <tr>
          <td>7654321</td>
          <td>Kenya Airways</td>
          <td>750</td>
          <td>Kenya</td>
          <td>3 Years</td>
          <td>Hakuna Matata</td>
        </tr>
        <tr>
          <td>1234567</td>
          <td>Air India</td>
          <td>700</td>
          <td>Bharat</td>
          <td>5 Years</td>
          <td>Mera Bharat Mahan</td>
        </tr>
        <tr>
          <td>7654321</td>
          <td>Kenya Airways</td>
          <td>750</td>
          <td>Kenya</td>
          <td>3 Years</td>
          <td>Hakuna Matata</td>
        </tr>
        <tr>
          <td>1234567</td>
          <td>Air India</td>
          <td>700</td>
          <td>Bharat</td>
          <td>5 Years</td>
          <td>Mera Bharat Mahan</td>
        </tr>
        <tr>
          <td>7654321</td>
          <td>Kenya Airways</td>
          <td>750</td>
          <td>Kenya</td>
          <td>3 Years</td>
          <td>Hakuna Matata</td>
        </tr>
        <tr>
          <td>1234567</td>
          <td>Air India</td>
          <td>700</td>
          <td>Bharat</td>
          <td>5 Years</td>
          <td>Mera Bharat Mahan</td>
        </tr>
        <tr>
          <td>7654321</td>
          <td>Kenya Airways</td>
          <td>750</td>
          <td>Kenya</td>
          <td>3 Years</td>
          <td>Hakuna Matata</td>
        </tr>
        <tr>
          <td>1234567</td>
          <td>Air India</td>
          <td>700</td>
          <td>Bharat</td>
          <td>5 Years</td>
          <td>Mera Bharat Mahan</td>
        </tr>
        <tr>
          <td>7654321</td>
          <td>Kenya Airways</td>
          <td>750</td>
          <td>Kenya</td>
          <td>3 Years</td>
          <td>Hakuna Matata</td>
        </tr>
        <tr>
          <td>1234567</td>
          <td>Air India</td>
          <td>700</td>
          <td>Bharat</td>
          <td>5 Years</td>
          <td>Mera Bharat Mahan</td>
        </tr>
        <tr>
          <td>7654321</td>
          <td>Kenya Airways</td>
          <td>750</td>
          <td>Kenya</td>
          <td>3 Years</td>
          <td>Hakuna Matata</td>
        </tr>
        <tr>
          <td>1234567</td>
          <td>Air India</td>
          <td>700</td>
          <td>Bharat</td>
          <td>5 Years</td>
          <td>Mera Bharat Mahan</td>
        </tr>
        <tr>
          <td>7654321</td>
          <td>Kenya Airways</td>
          <td>750</td>
          <td>Kenya</td>
          <td>3 Years</td>
          <td>Hakuna Matata</td>
        </tr>
        <tr>

      </thead>
    </table>
  </div>
