<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Solanki Airline</title>
  <!--
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script> -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://code.jquery.com/jquery-3.6.2.min.js" integrity="sha256-2krYZKh//PcchRtd+H+VyyQoZ/e3EcrkxhM8ycwASPA=" crossorigin="anonymous"></script>

</head>

<body>
  <!-- navigation  -->
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand text-danger fw-bold" href="#">SOLANKI TRAVELS</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon" style="color: white;"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

          <li class="nav-item" >
            <a class="nav-link" id="home" routerLinkActive="active" aria-current="page" routerLink="home" style="cursor: pointer; "><i class="fa fa-home" aria-hidden="true"></i> Home </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" id="passenger" routerLinkActive="active"  routerLink="passenger" style="cursor: pointer;"> <i class="fa fa-plane" aria-hidden="true"></i> Make a Booking</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" id="pilot" routerLinkActive="active"  routerLink="pilot" tabindex="-1" style="cursor: pointer;"> <i class="fa fa-user" aria-hidden="true"></i> Pilot Page</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active"    id="admin" aria-current="page" routerLink="adminlogin" style="cursor: pointer;"><i class="fa fa-cog" aria-hidden="true"></i> Admin Page</a>
          </li>

        </ul>

        <!-- <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form> -->
        

      </div>
    </div>
  </nav>





</body>

</html>





















<router-outlet></router-outlet>
